* {
  font-family: Poor Story;
}


h1 {
  text-align: center;
  padding: 2rem;
  font-size: 4rem;
  position: absolute;
  left: 25%;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 1000;
  height: 500;
  position: absolute;
  top: 20%;
  left: 10%;
  border: 1px solid rgb(50, 50, 50);
}

.modal {
  position: absolute;
  top: 35%;
  left: -8%;
  font-size: larger;
}

.modal-content {
 width: 18rem;
}

img {
  width: 17rem;
  position: absolute;
  top: 50%;
  left: 72%;
}
